:root {
    /* Colors */
    --primary-color: #0a0a0b; //bg color
    --secondary-color: #ffffff;
    --text-color: #adadad;
    --accent-color: #2e3038; //bg color 2
    --btn-bg-color:  #fbe850;
  
    /* Font */
    --font-family: "Inter", sans-serif;
    --header-font: "Prada", sans-serif;
  
    /* Padding */
   
  }

  $sectionPadding : 2.5rem;